<header>
  <div id="new-customer-header">
    <img src="/assets/logo.png" alt="">
    <h2>Create Account</h2>
    <p>Already using Air Tailor? <a href="/login">Sign in.</a></p>
  </div>
</header><!-- /header -->



<div id="new-customer-form">
  <%= form_for @customer, url: {action: "create"} do |f| %>

    <div id="new-customer-part-1">
      <%= f.text_field :first_name, :placeholder => "First Name" %>

      <%= f.text_field :last_name, :placeholder => "Last Name" %>

      <%= f.text_field :email, :placeholder => "Email" %>

      <%= f.telephone_field :phone, :placeholder => "Phone" %>

      <%= f.text_field :street, :placeholder => "Street Address" %>

      <%= f.text_field :street_two, :placeholder => "Unit / Apt. / Floor" %>

      <%= f.text_field :city, :placeholder => "City" %>

      <%= f.select :state_province, options_for_select(us_states), :prompt => "State" %>

      <%= f.text_field :zip_code, :placeholder => "Zip" %>
      <div id="new-customer-next">Next</div>
    </div>

    <div id="new-customer-part-2" class="hidden">
      <%= f.password_field :password, :placeholder => "Password" %>

      <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>

      <%= f.submit "Create", :id => "new-customer-create", :class => "button" %>
    </div>

  <% end %>
</div>
