
<div id="customer-account">
  <p id="customer-first-name"><%= current_customer.first_name %></p>
  <p id="customer-last-name"><%= current_customer.last_name %></p>
  <p id="customer-email"><%= current_customer.email %></p>
  <p id="customer-phone"><%= current_customer.phone %></p>
  <p id="customer-street"><%= current_customer.street %></p>
  <p id="customer-street-two"><%= current_customer.street_two %></p>
  <p id="customer-city"><%= current_customer.city %></p>
  <p id="customer-state"><%= current_customer.state_province %></p>
  <p id="customer-zip"><%= current_customer.zip_code %></p>
</div>
