
    <p>D2C Error for <%= @customer.first_name %> <%= @customer.last_name %> (#<%= @customer.id %>)</p>
    <hr>
    <p>Order Data</p>
    <i><%= @data %></i>
    <hr>
    <p>Error Message:</p>
    <i><%= @res %></i>

