<header>
  <div id="new-customer-header">
    <img src="/assets/logo.png" alt="">
    <h2>Promo Codes</h2>
    <p><a href="/promos/new">Create New Promo Code</a></p>
  </div>
</header><!-- /header -->


<% @promos.each do |promo| %>
  <p><b>Name:</b><br> <%= link_to promo.promo_name, promo_path(promo) %><br></p>
  <p><b>Created:</b><br> <%= promo.created_at.to_date %><br></p>
  <p><b>Type:</b><br> <%= promo.promo_type %><br></p>
  <% if promo.promo_type == "Amount Discount" %>
    <p><b>Amount:</b><br> $<%= '%.2f' % promo.amount %><br></p>
  <% else %>
    <p><b>Amount:</b><br> <%= '%.0f' % promo.amount %>&percnt;<br></p>
  <% end %>
  <p><b>Expires:</b><br> <%= promo.expiration %><br></p>
  <br>
  <hr>
  <br>
<% end %>
