<!DOCTYPE html>
<html>
  <head>

    <title>Air Tailor Direct</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- adjusts app to look correct on most devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- code snippet for Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66293380-1"></script>

    <!-- code snippet for Google Analytics -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-66293380-1');
    </script>
    <script>
      var host = "direct.airtailor.com";
      if ((host == window.location.host) && (window.location.protocol != "https:")){
        window.location.protocol = "https";
      }
    </script>

    <!-- puts favicon image on tab -->
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

    <!-- ensures users can see Raleway and Alegreya fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,700" rel="stylesheet">

    <!-- Social media sharing stuff -->
    <meta property="og:title" content="Air Tailor — Convenient Alterations & Repairs">
    <meta property="og:description" content="Save a trip to the tailor and order clothing alterations and repairs from home! Air Tailor has been featured in Esquire, InStyle, and Cosmopolitan Magazines. Great prices, quick turnaround!">
    <meta property="og:image" content="https://s3.us-east-2.amazonaws.com/airtailor-images/social_images/fb_image.png">
    <meta property="og:url" content="https://direct.airtailor.com">
    <meta name="twitter:card" content="https://s3.us-east-2.amazonaws.com/airtailor-images/social_images/twitter_image.png">
    <meta property="keywords" content="tailoring, alterations, repairs, adjustments, hemming, shortening, taper, slim, pants, shirts, dress, skirts, order, home, startup, clothing, fit, measurements, safety pin, closet, ecommerce">
  </head>



  <body>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <div id="overlay"></div>

    <% if current_customer %>
      <div id="customer-data" class="hidden">
        <p id="customer-first-name"><%= current_customer.first_name %></p>
        <p id="customer-last-name"><%= current_customer.last_name %></p>
        <p id="customer-email"><%= current_customer.email %></p>
        <p id="customer-phone"><%= current_customer.phone %></p>
        <p id="customer-street"><%= current_customer.street %></p>
        <p id="customer-street-two"><%= current_customer.street_two %></p>
        <p id="customer-city"><%= current_customer.city %></p>
        <p id="customer-state"><%= current_customer.state_province %></p>
        <p id="customer-zip"><%= current_customer.zip_code %></p>
      </div>
    <% end %>

    <% if flash[:success] %>
      <div id="flash-success" class="flash-notice"><%= flash[:success] %></div>
    <% elsif flash[:fail] %>
      <div id="flash-fail" class="flash-notice"><%= flash[:fail] %></div>
    <% end %>

    <div id="container">

        <div id="top-nav">
          <% if current_customer %>
            <% if action_name == "edit" %>
              <a id="account-button" class="order-link" href="/new_order">Order</a>
            <% elsif action_name == "terms" %>
              <a id="account-button" class="order-link" href="/new_order">Order</a>
            <% else %>
              <a id="account-button" class="edit-account-link"  href="/customers/<%= current_customer.id %>/edit">Account</a>
            <% end %>

            <a id="logout-button" href="/logout">Log Out</a>

          <% end %>

          <% if params[:controller] == "password_resets" %>
          <% else %>
            <span id="how-it-works">How It Works</span>
          <% end %>

        </div>

        <div id="how-to-popup" class="hidden">
          <span id="how-to-exit">X</span>
          <img id="how-to-logo" src="/assets/balloon.png" alt="balloon logo">
          <h2>How it works</h2>
          <h3>Step One</h3>
          <p>Select the garment / service needed.</p>
          <h3>Step Two</h3>
          <p>Prepare your clothes for alteration with safety pins (see <i>How To Prep</i>) or select to send us a sample garment for us to replicate the fit.</p>
          <h3>Step Three</h3>
          <p>After you pay, we'll email you a pre-paid shipping label to ship your clothes to us. Find a box and ship it in :) Expect your finished order back in a week.</p>
          <h4>It's that easy!</h4>
        </div>




      <%= yield %>



      <footer>
        <p>&copy; 2018 Air Tailor Inc. All rights reserved.</p>
        <p><a href="https://www.airtailor.com/privacy" target="_blank">Privacy Policy</a> | <a href="/terms">Terms of Service</a></p>
      </footer>



    </div>



<!-- CODE INSERT FOR INTERCOM -->
<!-- . -->
<!-- . -->

    <% if current_customer %>

      <script>
        window.intercomSettings = {
          app_id: "j5szofcq",
          user_id: "<%= current_customer.id %>",
          name: "<%= current_customer.first_name %> <%= current_customer.last_name %>",
          email: "<%= current_customer.email %>", // Email address
          created_at: Date.now() // Signup date as a Unix timestamp
        };
      </script>
      <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/j5szofcq';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
      </script>


    <% else %>


      <script>
        window.intercomSettings = {
          app_id: "j5szofcq"        };
      </script>
      <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/j5szofcq';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
      </script>

    <% end %>

<!-- . -->
<!-- . -->
<!-- END CODE INSERT FOR INTERCOM -->

  </body>
</html>
