<!DOCTYPE html>
<html>
  <head>
    <title>AirTailorDirect</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <div id="overlay"></div>

    <% if current_customer %>
      <div id="customer-data" class="hidden">
        <p id="customer-first-name"><%= current_customer.first_name %></p>
        <p id="customer-last-name"><%= current_customer.last_name %></p>
        <p id="customer-email"><%= current_customer.email %></p>
        <p id="customer-phone"><%= current_customer.phone %></p>
        <p id="customer-street"><%= current_customer.street %></p>
        <p id="customer-street-two"><%= current_customer.street_two %></p>
        <p id="customer-city"><%= current_customer.city %></p>
        <p id="customer-state"><%= current_customer.state_province %></p>
        <p id="customer-zip"><%= current_customer.zip_code %></p>
      </div>
    <% end %>

    <% if flash[:success] %>
      <div id="flash-success" class="flash-notice"><%= flash[:success] %></div>
    <% elsif flash[:fail] %>
      <div id="flash-fail" class="flash-notice"><%= flash[:fail] %></div>
    <% end %>

    <div id="container">

        <div id="top-nav">
          <% if current_customer %>
            <% if action_name == "edit" %>
                <a id="account-button" href="/new_order">Order</a>
              <% elsif action_name == "terms" %>
                <a id="account-button" href="/new_order">Order</a>
              <% else %>
                <a id="account-button" href="/customers/<%= current_customer.id %>/edit" onclick="return confirm('Are you sure? Continuing will erase any existing order.')">Account</a>
              <% end %>

            <a id="logout-button" href="/logout" onclick="return confirm('Are you sure? Continuing will erase any existing order.')">Log Out</a>
           <% end %>
        </div>





      <%= yield %>



      <footer>
        <p>&copy; 2018 Air Tailor Inc. All rights reserved.</p>
        <p><a href="#">Privacy Policy</a> | <a href="/terms" onclick="return confirm('Are you sure? Continuing will erase any existing order.')">Terms of Service</a></p>
      </footer>



    </div>

    <% if current_customer %>

        <script>
          window.intercomSettings = {
            app_id: "j5szofcq",
            name: "<%= current_customer.first_name %> <%= current_customer.last_name %>",
            email: "<%=  current_customer.email.first %>", // Email address
            created_at: Date.now() // Signup date as a Unix timestamp
          };
        </script>
        <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/j5szofcq';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
        </script>

    <% else %>

        <script>
          window.intercomSettings = {
            app_id: "j5szofcq"        };
        </script>
        <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/j5szofcq';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
        </script>

    <% end %>

  </body>
</html>
